* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header {
  width: 100%;
}

.header-top-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 48px;
}

.thin-head {
  background-color: #131313;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.thin-head ul{
  margin: 0 20px;
  display: inline;
}

.thin-head ul li a{
  text-decoration: none;
  color: #898989;
  font-size: 13px;
  margin: 0 5px;
}

.thin-head ul li{
  display: inline;
}

.header-top-section span{
  display: flex;
  align-items: center;
}

.header-bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #ffdd33;
}

.header-bottom-section a {
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  color: black;
}

header div i {
  font-size: 28px;
  padding: 10px 20px;
}

.random {
  padding: 16px 20px;
}

.black-bg {
  background-color: black;
}

.menu-icon {
  color: #f42;
  border-left: 1px solid rgb(169, 169, 169);
}

.search-icon {
  color: rgb(169, 169, 169);
  border-left: 1px solid rgb(169, 169, 169);
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  color: #aaa;
  text-align: center;
  margin-top: 130px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  justify-items: center;
  align-items: center;
  height: 160px;
}

.icons {
  margin-top: 30px;
}

.icons i {
  padding: 12px;
  border-radius: 50%;
  background-color: #333;
  font-size: 20px;
  color: white;
  margin: 10px 10px;
}

.bottom-links {
  width: 100%;
  margin-top: 20px;
}

.bottom-links a {
  text-decoration: none;
  color: #aaa;
  margin: 0 10px;
  font-size: 14px;
  font-family: "Shentox";
}

.footer-bottom {
  display: flex;
  height: 97px;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.dummy {
  height: 600px;
  width: 100%;
  color: white;
  background-color: white;
}

.highlights {
  height: calc(100vh - 96px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.highlight-card {
  margin: 4px 4px;
  padding: 10px;
  position: relative;
  background-size: cover;
  background-position: 50%;
}

.primary-text {
  color: white;
  font-size: 20px;
}

.secondary-text {
  color: rgb(148, 148, 148);
  font-size: 13px;
  font-weight: bold;
}

.bottom-pos {
  position: absolute;
  bottom: 10px;
}

.highlight-card:nth-child(1) {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 1)
    ),
    url("assets/highlight-1.jpg");
}

.highlight-card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 1)
    ),
    url("assets/highlight-2.png");
}

.highlight-card:nth-child(3) {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 1)
    ),
    url("assets/hightlight-3.png");
}

.volatile-text {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  position: relative;
  margin: 50px 0;
}

.card img {
  grid-column: 3 / span 3;
  grid-row: 1 / 2;
}

.card-title {
  margin: 0 20px;
  grid-column: 1 / span 21;
  background-color: #f42;
  color: white;
  height: 44px;
}

.card-info {
  max-width: 85%;
  width: calc(100vw - 140px);
  display: inline;
  float: right;
  padding: 10px 10px;
}

.funding-info {
  margin: 0 20px;
  grid-column: 1 / span 21;
  background-color: rgba(255,68,34,.08);
  height: 60px;
  
}

.clear {
  clear: both;
}

.fund-tags {
  margin: 0 20px;
  grid-column: 1 / span 21;
  height: 85px;
  padding: 10px 20px;
  background-color: #fffaf8;
}

.fly {
  position: absolute;
  top: 10px;
  width: 60px;
  height: 60px;
  left: -15px
}
.separate {

  margin: 10px -20px;
}

.fund-intro ul li a{
  text-decoration: none;
  color: #f42;
  line-height: 2rem;
}

.fund-intro ul {
  list-style: none;
  margin: 40px 10px;
  padding: 0 10px;
}

.header-links {
  display: none;
  list-style: none; 
  font-size: 14px;
}

.header-links li a{
  text-decoration: none;
  color: #cacaca;
  padding: 0 12px;
}
.header-links li {
  padding-bottom: 10px;
  display: inline;
}

.ss {
  color: white;
}

@media only screen and (min-width: 768px) {
  .hidden-md {
    display: none;
  }

  .header-links {
  display: inline;
  }

  .highlights {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 165px 165px;
    height: 100%;
    gap: 0px;
  }

  .highlight-card:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .highlight-card:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .highlight-card:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-info{
    max-width: 65%;
  }
  
  .fly{
    left: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .hidden-lg {
    display: none;
  }

  .header-links {
  display: inline;
  }

  .highlights {
    grid-template-rows: 230px 230px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}